{% extends 'base.html' %}
{% load static %}

{% block title %}
 <head>
   <meta charset="UTF-8">
   <title>MusicStudyPlatform - Lessons</title>
     <link rel="stylesheet" href="{% static 'first.css' %}" type="text/css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
   $( document ).ready(function() {
    $.ajax({
             url : "http://127.0.0.1:8000/api/lesson/all",
             dataType : "json",
             beforeSend : function( xhr ) {
                      var token = localStorage.getItem('Access');
                      if (token != null) {
                        xhr.setRequestHeader( 'Authorization', 'Bearer ' +  token);
                      };
             },
             success : function (data) {
                      var token = localStorage.getItem('Access');
                      if (token != null) {
                            var ed = document.getElementById('edit');
                            ed.innerHTML = '<a href="{% url 'create_lesson' %}">Add new lesson</a><a href="{% url 'create_request' %}">Add new request</a>';
                            var logi = document.getElementById('loginout');
                            logi.innerHTML = '<a href="{% url 'logout' %}">Logout</a>';
                      };
                      var table = document.getElementById('jsonresp');
                      var pag = document.getElementById('pagi');
                      if (data.previous != null){
                            pag.innerHTML += '<a href="' + data.previous + '">Prev</a>';
                            }
                      if (data.next != null){
                            pag.innerHTML += '<a href="' + data.next + '">Next</a>';
                            }

                      for (var i = 0, len = data.results.length; i < len; i++) {
                            res = "<tr><th>" + data.results[i].timestamp.toString() + "</th><th>"
                            + data.results[i].author.username + '</th><th><a href="lesson/' + data.results[i].id +
                            '">' +  data.results[i].title.toString() +  "</a></th><th>" + "</th></tr>"
                            table.innerHTML += res;
                       }
                    }
                 });
                 })
    </script>
 </head>
{% endblock %}
{% block content %}
<div id="pagi" class="center"></div>

<table id="jsonresp" class="center">
    <tr>
    <th> Time </th>
    <th> Author </th>
    <th> Title </th>
    <th> Likes </th>
    </tr>
</table>

{% endblock %}

