{% extends '../base.html' %}
{% load static %}

{% block title %}
    <head>
        <title>MusicStudyPlatform - Create Lesson</title>
         <link rel="stylesheet" href="{% static 'first.css' %}" type="text/css">
<!-- Include JS File Here -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#create").click(function() {
                var title = $("#title").val();
                var content = $("#content").val();
                if (title == '' || content == '' ) {
                    alert("Please fill all fields...!!!!!!");
                } else {
                    create_lesson_ajax(title, content);
                }
                });

                function create_lesson_ajax (title, content) {
                    var request = $.ajax({
                        url: "/api/lesson/create",
                        type: "POST",
                        data: {
                            title: title,
                            content: content,
                        },
                        beforeSend : function( xhr ) {
                            var token = localStorage.getItem('Access');
                            xhr.setRequestHeader( 'Authorization', 'Bearer ' +  token);
                        },
                        success: function (data) {
                            console.log(data);
                            window.location.href = '/js_lesson/' + data.id.toString() + '/image'; // it's success page
                        },
                        error: function (data) {
                        if (data.status_code == 403) {
                            alert("Something wrong, try again");
                        }
                    },
                    complete: function () {}
                });
                }
            });
        </script>
    </head>
{% endblock %}
{% block content %}
        <div class="container">
        <div class="main">
        <form class="form" method="post" action="#">
            <h2>Creation form:</h2>
            <div><label>Title :</label>
            <input type="text" name="dtitle" id="title"></div>
            <div><label>Content :</label>
            <input type="text" name="dcontent" id="content"></div>
            <div><input type="button" name="create" id="create" value="Create"></div>
        </form>
        </div>
            {% endblock %}