<!DOCTYPE html>
<html lang="en">
<html>
 <head>
   <meta charset="UTF-8">
   <title>Js lesson</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </head>
<body>
<div>
   <button class="apireq">click me </button>
</div>

<div id="jsonresp" style="margin-top: 100px">
   <p><label> Title :</label> <span id="title"></span></p>
   <p><label> Content :</label> <span id="content"></span></p>
   <p><label> Author :</label> <span id="author"></span></p>
   <p><label> likes : </label> <span id="likes"></span></p>
</div>
    <script type="text/javascript">
    $('.apireq').click( function() {
    $.ajax({
             url : "http://127.0.0.1:8000/api/lesson/2",
             dataType : "json",
             beforeSend : function( xhr ) {
                      var token = localStorage.getItem('Access');
                      xhr.setRequestHeader( 'Authorization', 'Bearer ' +  token.slice(1, token.length-1));
             },
             success : function (data) {
                      $('#title').text( data.title );
                      $('#content').text( data.content );
                      $('#author').text( data.author.username );
                      $('#likes').text( data.timestamp );
                    }
                 });
                 })
    </script>
</body>
</html>

