{% extends '../base.html' %}
{% load static %}

{% block title %}
<head>
    <meta charset="UTF-8">
    <title>MusicStudyPlatform - Lesson #{{ lesson_id }}</title>
    <link rel="stylesheet" href="{% static 'first.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            url : "http://127.0.0.1:8000/api/lesson/{{ lesson_id }}",
            dataType : "json",
            beforeSend : function( xhr ) {
                var token = localStorage.getItem('Access');
                if (token != null) {
                    xhr.setRequestHeader( 'Authorization', 'Bearer ' +  token);
                };
            },
            success : function (data) {
                var token = localStorage.getItem('Access');
                if (token != null) {
                    var ed = document.getElementById('edit');
                    ed.innerHTML = '<a href="{% url 'create_lesson' %}">Add new lesson</a><a href="{% url 'create_request' %}">Add new request</a>';
                    var logi = document.getElementById('loginout');
                    logi.innerHTML = '<a href="{% url 'logout' %}">Logout</a>';
                } else {
                    var lk = document.getElementById('lik');
                    lk.innerHTML = '';
                };
                $('#title').text( data.title );
                $('#content').text( data.content );
                $('#author').text( data.author.username );
                if (data.header_image == null) {
                    var h = document.getElementById('hewd');
                    h.innerHTML = '';
                } else {
                     $('#header').attr("src", data.header_image );
                };
                if (data.author.avatar == null) {
                    var a = document.getElementById('av');
                    a.innerHTML = '';
                } else {
                     $('#avatar').attr("src", data.author.avatar );
                };
                $('#time').text( data.timestamp.toString().slice(5, 16).replace('T', ' ') );
            }
        });

        $.ajax({
            url : "http://127.0.0.1:8000/api/lesson/{{ lesson_id }}/likes",
            dataType : "json",
            beforeSend : function( xhr ) {
                var token = localStorage.getItem('Access');
                if (token != null) {
                    xhr.setRequestHeader( 'Authorization', 'Bearer ' +  token);
                };
            },
            success : function (data) {
                $('#likes').text( data.length );
            }
        });

        $(document).ready(function() {
            $("#like").click(function() {
                var request = $.ajax({
                    url: "http://127.0.0.1:8000/api/lesson/{{ lesson_id }}/likes",
                    type: "POST",
                    beforeSend : function( xhr ) {
                        var token = localStorage.getItem('Access');
                        xhr.setRequestHeader( 'Authorization', 'Bearer ' +  token);
                    },
                    success: function (data) {
                        window.location.href = '.';
                    },
                });
            });

            $("#unlike").click(function() {
                var request = $.ajax({
                    url: "http://127.0.0.1:8000/api/lesson/{{ lesson_id }}/likes",
                    type: "DELETE",
                    beforeSend : function( xhr ) {
                        var token = localStorage.getItem('Access');
                        xhr.setRequestHeader( 'Authorization', 'Bearer ' +  token);
                    },
                    success: function (data) {
                        window.location.href = '.';
                    },
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
<form id="lik" action="#" method="post">
    <input type="button" name="like" id="like" value="Like">
    <input type="button" name="unlike" id="unlike" value="UnLike">
</form>

<div id="jsonresp">
    <p id="av"  style="float: right"><img id="avatar" src="avatar"></p>
    <p class="center"><label> Writen by </label> <span id="author"></span> at <span id="time"></span></p>
    <p class="center"><label> Liked </label> <span id="likes"></span> times</p>
    <br>
    <h1 class="center"> <span id="title"></span></h1>
    <p id = 'hewd' class="center"><img id="header" src="header"></p>
    <p><span id="content"></span></p>
</div>

{% endblock %}

