{% extends '../base.html' %}
{% load static %}

{% block title %}
<head>
        <title>MusicStudyPlatform - Create Lesson</title>
         <link rel="stylesheet" href="{% static 'first.css' %}" type="text/css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script>
    $('form').submit(function(e) {
        var formData = new FormData();
        formData.append('file', $('#image')[0].files[0]);
        var token = localStorage.getItem('Access');
                 if (token != null) {
                            var ed = document.getElementById('edit');
                            ed.innerHTML = '<a href="{% url 'create_lesson' %}">Add new lesson</a><a href="{% url 'create_request' %}">Add new request</a>';
                            var logi = document.getElementById('loginout');
                            logi.innerHTML = '<a href="{% url 'logout' %}">Logout</a>';
                 };
        $.ajax({
            url: '/api/lesson/{{ lesson_id }}/put_photo',
            type: $(this).attr('method'),
            data: formData,
            beforeSend : function( xhr ) {
                 xhr.setRequestHeader('Authorization', 'Bearer ' +  token);
                 xhr.setRequestHeader('Content-Disposition', 'attachment; filename="58sdsdsd77.png"');
            },
            cache: false,
            contentType: false,
            processData: false,
            success: function() {
                window.location.href = '/lesson/{{ lesson_id }}';
            },
        });
        e.preventDefault();
    });
</script>
    </head>
{% endblock %}

{% block content %}
<form action="."
      method="post"
      enctype="multipart/form-data">
    {% csrf_token %}
    <input name="image" type="file" id="image">
    <input type="submit">
</form>
{% endblock %}